.block { /* Обычные блоки */
  background: #f3f3f3;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}

.adBlock { /* Для рекламного блока */
  background: #f3f3f3;
  width: 300px;
  padding: 15px;
  border-radius: 100px;
}

/* Чтобы блоки были в ряд */
.left_otstup {
  float: left; /* Право */ 
  margin-left: 4.4%;
  margin-right: 4.4%;
 }

.right_otstup {
  float: right; /* Лево */ 
  margin-left: 4.4%;
  margin-right: 4.4%;
 }

.top_otstup {
  display: inline-block;
  margin-left: 4.4%;
  margin-right: 4.4%;
 }

.center {
  text-align: center;
}